<div class="app-card-container-contact">
    <div class="card">
      <h1>Contact Me!</h1>
      
      <hr>
      
      <div class="row">
        <div class="col-md-4">
          <h3>My addres</h3>
      
          <p>7059 south 2780 east, 84112</p>
      
          <h3>Phone</h3>
      
          <p><%= number_to_phone "3852229939" %></p>
      
          <h3>Email</h3>
      
          <p>Email me</p>
          <p>alexander.housley@gmail.com</p>
        </div>
      
        <div class="col-md-8">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3028.316245225356!2d-111.81301119999999!3d40.622907200000036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875262e3305a8a59%3A0xc2b28fdfe37dac9a!2s7059+S+2780+E%2C+Cottonwood+Heights%2C+UT+84121!5e0!3m2!1sen!2sus!4v1500242275546" width="450" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
</div>

